schema/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="Simulation">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="SuperCell" type="superCell"/>
      <xsd:sequence minOccurs = "1" maxOccurs="unbounded">
        <xsd:element name = "Species" type="species"/>
      </xsd:sequence>
      <xsd:element name="Temperature" type="temperature"/>
      <xsd:element name="Action" type="actionSection"/>
      <xsd:element name="Estimators" type="estimatorSection"/>
      <xsd:element name="PIMC" type="pimcSection"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:complexType name="superCell">
  <xsd:attribute name="a" type="positiveLength" use="optional"/>
  <xsd:attribute name="x" type="xsd:string" use="optional"/>
  <xsd:attribute name="y" type="xsd:string" use="optional"/>
  <xsd:attribute name="z" type="xsd:string" use="optional"/>
</xsd:complexType>

<xsd:complexType name="species">
  <xsd:attribute name="name" type="xsd:string"/>
  <xsd:attribute name="count" type="xsd:positiveInteger"/>
  <xsd:attribute name="charge" type="xsd:float"/>
  <xsd:attribute name="mass" type="mass"/>
</xsd:complexType>

<xsd:complexType name="temperature">
  <xsd:attribute name="value" type="positiveEnergy"/>
  <xsd:attribute name="nslice" type="xsd:string" use="optional"/>
</xsd:complexType>

<xsd:complexType name="actionSection">
  <xsd:choice minOccurs = "0" maxOccurs="unbounded">
    <xsd:element name="ActionChoice" type="actionChoice"/>
    <xsd:element name="CoulombAction" type="coulombAction"/>
    <xsd:element name="FixedNodeAction" type="fixedNodeAction"/>
    <xsd:element name="SpringAction" type="springAction"/>
  </xsd:choice>
</xsd:complexType>

<xsd:complexType name="actionChoice">
  <xsd:choice minOccurs = "0" maxOccurs="unbounded">
    <xsd:element name="ActionGroup" type="actionSection"/>
  </xsd:choice>
  <xsd:attribute name="initial" type="xsd:nonNegativeInteger" use="optional"/>
</xsd:complexType>

<xsd:complexType name="fixedNodeAction">
  <xsd:choice minOccurs = "0" maxOccurs="unbounded">
    <xsd:element name="Atomic1s"/>
  </xsd:choice>
  <xsd:attribute name="species" type="xsd:string" use="required"/>
  <xsd:attribute name="model" type="xsd:string" use="optional"/>
  <xsd:attribute name="density" type="xsd:decimal" use="optional"/>
</xsd:complexType>

<xsd:complexType name="coulombAction">
  <xsd:attribute name="norder" type="xsd:nonNegativeInteger" use="required"/>
  <xsd:attribute name="rmin" type="positiveLength" use="optional"/>
  <xsd:attribute name="rmax" type="positiveLength" use="optional"/>
  <xsd:attribute name="ngridPoints" type="xsd:nonNegativeInteger"
    use="required"/>
  <xsd:attribute name="dumpFiles" type="boolean" use="optional"/>
  <xsd:attribute name="useEwald" type="boolean" use="optional"/>
  <xsd:attribute name="ewaldKcut" type="positiveInverseLength"
    use="optional"/>
</xsd:complexType>

<xsd:complexType name="springAction"/>

<xsd:complexType name="estimatorSection">
  <xsd:choice minOccurs = "0" maxOccurs="unbounded">
    <xsd:element name="CoulombEnergyEstimator"/>
    <xsd:element name="PairCFEstimator"/>
    <xsd:element name="PermutationEstimator"/>
    <xsd:element name="ThermoEnergyEstimator"/>
  </xsd:choice>
</xsd:complexType>

<xsd:complexType name="pimcSection">
  <xsd:choice minOccurs = "0" maxOccurs="unbounded">
    <xsd:element name="RandomGenerator"/>
    <xsd:element name="ReadPaths"/>
    <xsd:element name="Loop"/>
  </xsd:choice>
  <xsd:attribute name="nclone" type="xsd:positiveInteger" use="optional"/>
  <xsd:attribute name="nworker" type="xsd:positiveInteger" use="optional"/>
</xsd:complexType>

<xsd:simpleType name="positiveNumber">
  <xsd:restriction base="xsd:decimal">
    <xsd:minExclusive value="0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="positiveLength">
  <xsd:restriction base="xsd:token">
    <xsd:whiteSpace value="preserve"/>
    <xsd:pattern value="(\+)?([0-9]+\.?[0-9]*|\.[0-9]+)([eE](\+|-)?[0-9]+)?( (A|fm|pm|nm|um|mm|cm|m))?"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="positiveInverseLength">
  <xsd:restriction base="xsd:token">
    <xsd:whiteSpace value="preserve"/>
    <xsd:pattern value="(\+)?([0-9]+\.?[0-9]*|\.[0-9]+)([eE](\+|-)?[0-9]+)?( (A-1|fm-1|pm-1|nm-1|um-1|mm-1|cm-1|m-1))?"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="positiveEnergy">
  <xsd:restriction base="xsd:token">
    <xsd:whiteSpace value="preserve"/>
    <xsd:pattern value="(\+)?([0-9]+\.?[0-9]*|\.[0-9]+)([eE](\+|-)?[0-9]+)?( (kV|keV|eV|V|meV|ueV|K|mK|uK|nK|Ha|Ry|cm\-1|kcal/mol|Hz|kHz|MHz|GHz|THz|PHz))?"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="mass">
  <xsd:restriction base="xsd:token">
    <xsd:whiteSpace value="preserve"/>
    <xsd:pattern value="(\+)?([0-9]+\.?[0-9]*|\.[0-9]+)([eE](\+|-)?[0-9]+)?( (amu|m_p|m_e))?"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="boolean">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="True"/>
    <xsd:enumeration value="true"/>
    <xsd:enumeration value="T"/>
    <xsd:enumeration value="t"/>
    <xsd:enumeration value="False"/>
    <xsd:enumeration value="false"/>
    <xsd:enumeration value="F"/>
    <xsd:enumeration value="f"/>
  </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
